.activity
  margin-bottom: 26px
  @extend %clear-fix

  .avatar
    margin-top: 10px
    float: left
    width: 64px
    height: 64px
    border-radius: 100%
    overflow: hidden
    @media screen and (max-width: 480px)
      margin: 0 auto 10px
      float: none

  .activity-bubble
    overflow: hidden
    border: 1px solid #a7a7a7
    border-radius: 8px
    background: white
    margin-left: 18px + 64px

    @extend %clear-fix

    @media screen and (max-width: 480px)
      margin-left: 0
    .activity-info
      color: #8e8e8e
      padding: 10px 14px 8px 14px
      background: #f1f1f1
      @media screen and (max-width: 480px)
        font-size: 15px
      .expert
        float: right

    .activity-content
      padding: 16px 14px 0 14px
      font-size: 15px
      line-height: 22px

      h3
        font-weight: 400

      span
        font-size: 14px
        color: #808080

      .wrap
        padding-top: 22px

        @extend %clear-fix

        .img
          // padding-right: 0px
          min-width: 220px
          float: left
          @media screen and (max-width: 480px)
            float: none
            min-width: 100%
            height: auto
        .right
          padding-left: 240px
          @media screen and (max-width: 480px)
            padding-left: 0

          .header
            margin-bottom: 14px
            font-size: 0

            li
              color: #bababa
              display: inline-block
              font-size: 14px
              vertical-align: middle

              .rate-stars
                position: relative
                background: url(../images/star2@2x.png) repeat-x
                background-size: 15px
                height: 15px
                width: 75px
                margin: 0 10px

                div
                  position: absolute
                  background: url(../images/star@2x.png) repeat-x
                  background-size: 15px
                  height: 15px
                  top: 0
                  left: 0

        .article
          overflow: hidden

        .recomended
          margin-top: 32px

    .activity-action
      margin: 30px 14px 18px 14px

      @extend %clear-fix

      .report
        float: right
        background: url("../images/ic-flag.png") 0 6px no-repeat
        background-size: 11px 15px
        padding-left: 15px
        font-size: 15px
        @media screen and (max-width: 480px)
          float: none

      .action
        float: left
        font-size: 0
        color: #bebebe
        @media screen and (max-width: 480px)
          float: none
        li
          position: relative
          display: inline-block
          font-size: 15px
          padding-right: 32px
          @media screen and (max-width: 480px)
            padding-right: 24px

          &:nth-child(2)
            padding-right: 0

          .helpful
            background: url("../images/ic-helpful.png") 0 0 no-repeat
            padding-left: 26px

            &::before
              position: absolute
              font-size: 18px
              color: #6c6c6c
              content: "."
              top: -5px
              left: -18px
              @media screen and (max-width: 480px)
                left: -14px

          .btn
            margin-left: 10px
            display: block
            border: 1px solid #cbcbcb
            border-radius: 4px
            background: #f6f5f6
            box-sizing: border-box
            padding: 0 4px
            font-size: 14px
            line-height: 18px
            color: #6c6c6c

            &:hover
              text-decoration: none
