// font default
//-----------------------------------------------------------------------------------
body, input, button, select, textarea
  font-family: "Ubuntu", sans-serif

// Common classes
//-----------------------------------------------------------------------------------
.clear
  clear: both

%clear-fix:after
  content: ""
  clear: both
  display: table
  width: 100%

// link
//-----------------------------------------------------------------------------------
a
  color: #04bd9c
  outline: none
  text-decoration: none

  &:hover
    text-decoration: none

img
  border: none
  vertical-align: top
  min-width: 100%
  height: 100%

// form
//-----------------------------------------------------------------------------------
input
  vertical-align: middle
  margin: 0
  padding: 0

  \::-ms-clear,
  ::-ms-reveal
    display: none
    width: 0
    height: 0

button,
a.button,
input[type='reset'],
input[type='submit'],
input[type='button'],
input[type='image']
  display: inline-block
  width: auto
  margin: 0
  padding: 0
  overflow: visible
  background: none
  outline: 0
  border: 0
  cursor: pointer
  vertical-align: middle
  text-align: center
  text-decoration: none

// vertical align middle
//-----------------------------------------------------------------------------------
%vafix:before
  display: inline-block
  margin-right: -0.25em
  height: 100%
  content: ""
  vertical-align: middle
