.explore
  h2
    margin-bottom: 32px

  .all
    margin-left: 70px

    @media screen and (max-width: 1200px)
      margin: 0 auto
  ul
    @media screen and (max-width: 991px)
      column-count: 2
    @media screen and (max-width: 480px)
      column-count: 1
  li
    @extend %clear-fix
    padding-bottom: 18px

    @media screen and (max-width: 1200px)
      display: inline-block
      margin-right: 20px
    @media screen and (max-width: 991px)
      display: block
      margin: 0 auto
      max-width: 200px
      font-size: 12px
    @media screen and (max-width: 480px)
      display: block
      margin: 0 auto



    .icon
      width: 56px
      height: 56px
      float: left

    .right
      margin-left: 70px

      h4
        padding-top: 6px
        font-weight: 400
        line-height: 24px

      span
        font-size: 14px
        color: #6c6c6c
