footer
  h3
    font-size: 18px
    font-weight: 400
    line-height: 24px
    text-transform: uppercase
    color: #08b592
    @media screen and (max-width: 480px)
      font-size: 12px
  .footer-links
    font-size: 14px
    // text-align: center
    @media screen and (max-width: 767px)
      text-align: center
    @media screen and (max-width: 480px)
      font-size: 12px
    a
      color: #555555
      &:hover
        color: #08b592
  .wrap-footer-form
    .wrap-email
      max-width: 375px
      background-color: #08b592
      border: 1px solid #919191
      margin: 0 auto
      border-radius: 5px
      text-align: center

      h3
        color: #fff
        margin-top: 15px
        font-size: 16px
      form
        margin: 15px
        input
          display: block
          margin: 0 auto
          width: 85%
          border-radius: 5px
          border: 1px solid #919191
          padding-left: 5px
          font-size: 15px
          line-height: 25px

    .wrap-app
      text-align: center
      .wrap-column
        display: inline-block
        max-width: 150px
        vertical-align: top
        margin: 10px 10px

        strong
          color: #08b592
        .number
          color: #000
          font-size: 29px
          line-height: 25px
        .peaple
          color: #000
          font-size: 15px
          line-height: 17px
