.gallery
  text-align: center
  a
    &:hover
      color: #04bd9c
  h1
    font-size: 43px
    line-height: 51px
    font-weight: 400
    color: #000
  h3
    color: #000
    font-weight: 400
    font-size: 23px
    line-height: 23px
  p
    font-size: 20px
    line-height: 34px
  .wrap-gallery
    border: 1px solid #d7d7d7
    background-color: #fff
    margin: 10px
    &:hover
      h3
        color: #04bd9c
    img
      min-width: auto
      max-width: 100%
      @media screen and (max-width: 1200px)
        // min-width: 100%
    @media screen and (max-width: 1200px)
      max-width: 390px
      margin: 10px auto

    .gallery-desc
      text-align: left
      .wrap-text
        display: inline-block
        margin: 14px auto
      img
        display: inline-block
        margin: 10px 15px 10px 25px
        min-width: auto
        @media screen and (max-width: 480px)
            margin: 8px
      p
        font-size: 12px
        line-height: 14px
