header
  .wrap-header
    padding: 14px
    font-size: 19px
    line-height: 34px
    color: #6c6c6c
    padding-bottom: 27px
    @media screen and (max-width: 1200px)
      text-align: center
    a
      @media screen and (max-width: 1200px)
        font-size: 12px
      color: #6c6c6c
      &:hover
        color: #8fdcce
    ul
      li
        display: inline
    .menu

      ul
        margin-left: 12px
        @media screen and (max-width: 1200px)
          margin: 0 10px
        li
          margin-left: 50px
          @media screen and (max-width: 1200px)
            margin: 0 8px

    .login
      li
        margin-right: 14px
        @media screen and (max-width: 1200px)
          margin-right: 4px
      .round-button
        border: 1px solid #b0d2d2
        border-radius: 50px
        padding: 5px 9px 6px 15px
        min-width: 65px
        @media screen and (max-width: 1200px)
          padding: 0px 5px 5px 10px

        a
          // padding: 15px
        img
          line-height: 0
          min-width: 13px
          height: 13px
          vertical-align: middle
          margin-bottom: 4px
          @media screen and (max-width: 1200px)
            margin: 0
