body
  background-color: $bg-color
  font-size: 17px
  line-height: 26px
  .adventure
    background-image: url("../images/bg-1.jpg")
    // background: green
    background-size: cover
    color: #ffffff
    a
      color: #ffffff
      &:hover
        color: #8fdcce
    .trip-logo
      min-width: auto
      float: right
      @media screen and (max-width: 1200px)
        float: none
        margin: 0 auto
        display: block
      // float: right
    .adventure-menu
      margin-left: 35px
      margin-top: -3px
      font-size: 10px
      @media screen and (max-width: 768px)
        text-align: center
        margin: 0
      li
        display: inline-block
        margin-left: 29px
        position: relative
        @media screen and (max-width: 768px)
          margin: 0
          padding-left: 12px

  .wrap-form
    margin-left: 65px
    padding-right: 6px
    @media screen and (max-width: 768px)
      margin: 0
    form
      line-height: 12px
      font-size: 12px
    .wrap-inputs
      background: #fff
      height: 23px
      input
        height: 100%
      input[type=text]
        border: none
        width: 92%
      input[type=submit]
        float: right
        border: 1px solid #e0e0e0
        background-color: #f0f0f0
        width: 7%
        background: url("../images/search.png")
        // background-size: contain
        background-repeat: no-repeat
        background-size: 50%
        background-repeat: no-repeat
        background-position: 50% 50%
  .adventure-login
    margin-left: 25px
    font-size: 10px
    @media screen and (max-width: 768px)
      margin: 0
      text-align: center
    li
      display: inline-block
      text-transform: uppercase
      margin-left: 12px
  .adventure-desc
    margin-top: 71px
    text-align: center
    h1
      font-size: 45px
      font-weight: 400
      line-height: 53px
    p
      line-height: 18px
      padding-top: 10px
      line-height: 28px
      margin: 0 auto
      font-size: 14px
      max-width: 539px
      font-weight: 300
  .adventure-buttons
    margin: 0 auto
    font-size: 12px
    max-width: 238px
    margin-top: 5px
    margin-bottom: 55px
    button
      line-height: 1.8
      background: red
      border-radius: 5px
      background-color: #fff
      padding: 0 5px
    .ask
      min-width: 100px
    .add
      min-width: 135px
  .featured
    margin-bottom: 70px
    .featured-desk
      margin: 45px 0 15px 84px
      @media screen and (max-width: 768px)
        margin-left: 0
        text-align: center
        font-size: 12px
      h2
        font-size: 22px
        font-weight: 400
        display: inline-block
        width: 45%
        @media screen and (max-width: 768px)
          font-size: 14px
      p
        color: #6c6c6c
        width: 45%
        display: inline-block
        text-align: right
        &:hover
          color: #8fdcce

    .wrap-slider
      position: relative
      overflow: hidden
      width: 300px
      margin: 0 auto
      .bg-img
        height: 100%
        max-width: 200%
        position: absolute
        // min-width: auto
        // min-height: 100%

      h3
        margin: 15px
        position: relative
        max-width: 190px
        color: #fff
      .author-container
        margin-top: 100px
        margin-bottom: 10px
        background: #000
        width: 200px
        height: 54px
        position: relative
        .avatar
          .wrap-avatar
            border-radius: 50%
            width: 55px
            overflow: hidden
            img
              position: relative
              min-width: 55px
          p
            font-size: 16px
            position: absolute
            color: green
            top: 1px
            left: 70px
            color: #303030
          .gurated
          .name
            top: 18px
          .accent-name
            top: 10px
            color: #fff
  .recent-question
    .link
      color: #6c6c6c
      &:hover
        color: #8fdcce
    h2
      font-size: 22px
      font-weight: 400
    .left-side
      margin-top: 70px
    .wrap-partials-side
      margin-bottom: 50px
    .wrap-activity
      margin-top: 125px
    .show-all
      width: 160px
      border: 1px solid #a7a7a7
      background: white
      float: right
      border-radius: 0
      -webkit-appearance: none
      font-size: 14px
      padding-left: 5px
      @media screen and (max-width: 1200px)
        width: 100px
    .wrap-show-all

      &::after
        font-size: 12px
        padding: 2px 0 0px 6px
        content: "▼"
        color: #8e8e8e
        position: absolute
        z-index: 99
        height: 100%
        width: 26px
        top: 0
        right: 15px
        border: 1px solid #a7a7a7


    //   margin: 0 0 0 auto
    //   padding: 5px
    //   background: white
    //   display: block
    //   max-width: 130px
    //   border: 1px solid #a7a7a7


  .right-side
      h3
        color: #8fdcce
      .experts
        margin-top: 35px
        a
          &:hover
            .name
              color: #8fdcce
        .wrap-expert
          @media screen and (max-width: 1200px)
            // max-width: 330px
            margin: 0 auto
        @media screen and (max-width: 1200px)
          column-count: 2
        @media screen and (max-width: 617px)
          column-count: 1
        .expert-avatar
          margin-top: 15px
          float: left
          .number
            vertical-align: middle
            font-size: 30px
            display: inline-block

            @media screen and (max-width: 768px)
              font-size: 20px
            @media screen and (max-width: 480px)
              font-size: 12px
          .expert-photo
            vertical-align: middle
            display: inline-block
            img
              min-width: auto
              @media screen and (max-width: 480px)
                width: 30px

        .wrap-data
          min-width: 66%
          color: #000
          margin-left: 10px
          font-size: 14px
          display: inline-block
          @media screen and (max-width: 768px)
            font-size: 12px
          @media screen and (max-width: 320px)
            margin-left: 5px

          .name
          .wrap-points
            width: 100%
            // background: red
            position: relative
          .points
            // z-index: 1
            position: absolute
            height: 100%
            display: block
            background: #8fdcce
            border-radius: 5px
          p
            position: relative
            // z-index: 99
            margin-left: 10px
          .revews
            color: #c7c7c7
      .right-side-links
        padding: 20px 30px
        a
          display: block
      .tribe-members
        margin-bottom: 20px
        padding: 20px 0
        font-size: 18px
        border-top: 1px solid #6c6c6c
        border-bottom: 1px solid #6c6c6c
