.wrap-pagination
  text-align: center
.pagination
  display: inline-block
  ul
    margin: 0
    padding: 0
    list-style: none
    float: left
  li
    float: left
    margin: 0 10px 0 10px
    font-size: 14px
    &:last-child
      margin: 0
    &.active a,
    a:active
      box-shadow: none
    &.active a,
    a:hover
      color: #000
