.popup-second
  .box
    width: 40%
    margin: 0 auto
    background: rgba(255, 255, 255, 0.2)
    padding: 35px
    border: 2px solid #fff
    border-radius: 20px/50px
    background-clip: padding-box
    text-align: center

  .button
    font-size: 1em
    padding: 10px
    color: #fff
    border: 2px solid #06D85F
    border-radius: 20px/50px
    text-decoration: none
    cursor: pointer
    transition: all 0.3s ease-out
    &:hover
      background: #06D85F

  .overlay
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: rgba(0, 0, 0, 0.7)
    transition: opacity 500ms
    // visibility: hidden
    display: none
    opacity: 0
    min-height: 270%
    &:target
      visibility: visible
      display: block
      opacity: 1

  .popup
    text-align: center
    max-width: 750px
    margin: 70px auto
    padding: 90px 50px
    background: #fff
    border-radius: 5px
    width: 80%
    position: relative
    transition: all 5s ease-in-out
    @media screen and (max-width: 480px)
      padding: 40px 10px
    h2
      margin-top: 0
      color: #04bd9c
      font-size: 30px
      // border-bottom: 1px solid #3a3a3a
      line-height: 29px
      padding-bottom: 80px
      font-weight: 400
      @media screen and (max-width: 480px)
        font-size: 20px
        padding-bottom: 40px
    strong
      font-size: 30px
      line-height: 29px
      font-weight: 400
      @media screen and (max-width: 480px)
        font-size: 14px
    p
      margin-bottom: 40px
      font-size: 20px
      @media screen and (max-width: 480px)
        font-size: 12px

    .close
      position: absolute
      top: 20px
      right: 30px
      transition: all 200ms
      font-size: 30px
      font-weight: bold
      text-decoration: none
      color: #333
      &:hover
        color: #06D85F
    .content
      max-height: 30%
      overflow: auto
      .rate-stars
        background: red
        height: 200px
        width: 200px
    // form
    //   .red
    //     color: red
    //   input
    //     border: 1px solid #464646
    //     border-radius: 5px
    //   select
    //     border: 1px solid #464646
    //     border-radius: 5px
    //       // &:focus
    //       //   background-color: red
    //   input[type=text]
    //     padding-left: 10px
    //     background-color: #ebebeb
    //     width: 100%
    //   textarea
    //     background-color: #ebebeb
    //     border-radius: 5px
    //     width: 100%
    //     resize: none
    //     padding-left: 10px
    //   .select
    //     text-align: center
    //     legend
    //       text-align: left
    //     label
    //       font-size: 15px
    //       cursor: pointer
    //       padding: 0px 5px
    //       border: 1px solid #04bd9c
    //       border-radius: 5px
    //       color: #04bd9c
    //       margin: 5px 0
    //       display: inline-block
    //     input[type=checkbox]
    //       // visibility: hidden
    //       display: none
    //     input[type=checkbox]:checked + label
    //       color: #fff
    //       background-color: #04bd9c
    //   input[type=submit]
    //     font-size: 20px
    //     margin: 10px auto
    //     display: block
    //     padding: 20px
    //     width: 330px
    //     color: #fff
    //     background-color: #04bd9c
    //     border-color: #04bd9c
    //     border-radius: 30px
    //     @media screen and (max-width: 600px)
    //       width: 150px
    //     &:hover
    //       background-color: #fff
    //       color: #04bd9c

  @media screen and (max-width: 700px)
    .box, .popup
      width: 70%
// .easy-autocomplete-container
//   ul
//     li
//       position: relative
//       background: url(../images/star2@2x.png) repeat-x
//       background-size: 15px
//       height: 15px
//       width: 195px
//       margin: 10px 10px
//       background-repeat: no-repeat
//       background-position: right center
//
//       div
//         // background-repeat: no-repeat
//         width: 20%
//         position: absolute
//         background: url(../images/star@2x.png) repeat-x
//         background-size: 15px
//         background-position: right center
//         height: 15px
//         top: 0
//         left: 0
#mylist
  display: none
.awesomplete
  [hidden]
    display: none
  .visually-hidden
    position: absolute
    clip: rect(0, 0, 0, 0)
  display: block
  position: relative
  width: 90%
  margin: 0 auto
  >
    input
      text-align: center
      // margin: 0 auto
      display: block
      width: 100%
      border: none
      border-bottom: 1px solid #878787
      font-size: 16px
      @media screen and (max-width: 480px)
        font-size: 12px
    ul

      position: absolute
      left: 0
      z-index: 1
      min-width: 100%
      box-sizing: border-box
      list-style: none
      padding: 0
      margin: 0
      background: #fff
      &:empty
        display: none
      &:before
        content: "123"
        position: absolute
        top: -.43em
        left: 1em
        width: 0
        height: 0
        padding: .4em
        background: white
        border: inherit
        border-right: 0
        border-bottom: 0
        -webkit-transform: rotate(45deg)
        transform: rotate(45deg)
      > li

        font-size: 16px
        position: relative
        padding: .2em .5em
        cursor: pointer
        @media screen and (max-width: 480px)
          font-size: 12px
        &:hover
          background: #04bd9c
          color: #fff
        &[aria-selected="true"]
          background: hsl(205, 40%, 40%)
          color: white
  mark
    background: hsl(65, 100%, 50%)
  li
    &:hover mark
      background: hsl(68, 100%, 41%)
    &[aria-selected="true"] mark
      background: hsl(86, 100%, 21%)
      color: inherit


@supports (transform: scale(0))
  .awesomplete > ul
    transition: 0.3s cubic-bezier(0.4, 0.2, 0.5, 1.4)
    transform-origin: 1.43em -.43em
    &[hidden], &:empty
      opacity: 0
      transform: scale(0)
      display: block
      transition-timing-function: ease
    &::before
      display: none

/* Pointer

/*# sourceMappingURL=awesomplete.css.map
