.popup
  // h1
  //   text-align: center
  //   font-family: Tahoma, Arial, sans-serif
  //   color: #06D85F
  //   margin: 80px 0
  .box
    width: 40%
    margin: 0 auto
    background: rgba(255, 255, 255, 0.2)
    padding: 35px
    border: 2px solid #fff
    border-radius: 20px/50px
    background-clip: padding-box
    text-align: center

  .button
    font-size: 1em
    padding: 10px
    color: #fff
    border: 2px solid #06D85F
    border-radius: 20px/50px
    text-decoration: none
    cursor: pointer
    transition: all 0.3s ease-out
    &:hover
      background: #06D85F

  .overlay
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: rgba(0, 0, 0, 0.7)
    transition: opacity 500ms
    // visibility: hidden
    display: none
    opacity: 0
    min-height: 270%
    &:target
      visibility: visible
      display: block
      opacity: 1

  .popup
    max-width: 750px
    margin: 70px auto
    padding: 20px 50px
    background: #fff
    border-radius: 5px
    width: 80%
    position: relative
    transition: all 5s ease-in-out
    @media screen and (max-width: 480px)
      padding: 5px
      width: 95%
      margin: 10px auto
    h2
      margin-top: 0
      color: #3a3a3a
      font-size: 30px
      border-bottom: 1px solid #3a3a3a
      line-height: 29px
      padding-bottom: 20px
      @media screen and (max-width: 768px)
        font-size: 16px
    label
      font-size: 20px
      @media screen and (max-width: 768px)
        font-size: 12px
    .close
      position: absolute
      top: 20px
      right: 30px
      transition: all 200ms
      font-size: 30px
      font-weight: bold
      text-decoration: none
      color: #333
      &:hover
        color: #06D85F
    .content
      max-height: 30%
      overflow: auto
    form
      .red
        color: red
      input
        border: 1px solid #464646
        border-radius: 5px

      select
        border: 1px solid #464646
        border-radius: 5px
        @media screen and (max-width: 768px)
          font-size: 12px
          // &:focus
          //   background-color: red
      input[type=text]
        padding-left: 10px
        background-color: #ebebeb
        width: 100%
        @media screen and (max-width: 768px)
          font-size: 10px
          line-height: 2
      textarea
        background-color: #ebebeb
        border-radius: 5px
        width: 100%
        resize: none
        padding-left: 10px
        @media screen and (max-width: 768px)
          font-size: 10px
          height: 40px
          line-height: 1.2
      .select
        text-align: center
        legend
          text-align: left
          @media screen and (max-width: 768px)
            font-size: 12px
        label
          font-size: 15px
          cursor: pointer
          padding: 0px 5px
          border: 1px solid #04bd9c
          border-radius: 5px
          color: #04bd9c
          margin: 5px 0
          display: inline-block
          @media screen and (max-width: 768px)
            font-size: 10px
            padding: 0px 3px
            line-height: 2
        input[type=checkbox]
          // visibility: hidden
          display: none
        input[type=checkbox]:checked + label
          color: #fff
          background-color: #04bd9c
      input[type=submit]
        font-size: 20px
        margin: 10px auto
        display: block
        padding: 20px
        width: 330px
        color: #fff
        background-color: #04bd9c
        border-color: #04bd9c
        border-radius: 30px
        @media screen and (max-width: 768px)
          padding: 6px
          width: 150px
        &:hover
          background-color: #fff
          color: #04bd9c

  // @media screen and (max-width: 700px)
  //   .box, .popup
  //     width: 70%
