.qa
  margin-top: 45px
  .wrap-qa
    background: #fff
    padding: 10px
    padding-bottom: 20px
    p
      margin-top: 16px
      font-size: 14px
    .wrap-top-qa
      padding: 14px 0
      border-bottom: 1px solid #cccccc

      h2
        display: inline-block
        margin-left: 10px
        font-size: 13px
        font-weight: 400
      a
        font-size: 14px
        float: right
      .wrap-img
        float: left
        min-width: 10px
        width: 40px
        height: 40px
        border-radius: 50%
        overflow: hidden
        margin-top: -7px
    .add-a-reply
      padding: 0px 10px
  .wrap-reciples
    background-color: #fff
    margin-top: 20px
    h2
      padding: 15px 0 8px 10px
    // width: 100%
    .wrap-tabs
      // width: 100%
      // background: red
      .tab-scroll
        // overflow: scroll
        margin-bottom: 40px
      .wrap-tab-qa
        // margin-top: 40px
        font-size: 16px
        border-bottom: 1px solid #f5f5f5
        .question-action
          margin-bottom: 40px
          margin-left: 3px
          @media screen and (max-width: 591px)
            column-count: 1
          li
            @media screen and (max-width: 591px)
              display: inline-block
              height: auto
            &::after
              position: absolute
              font-size: 18px
              color: #6c6c6c
              content: "."
              top: -5px
              right: 14px
              @media screen and (max-width: 591px)
                content: ""

        .wrap-tab-question
          background-color: #f2fcfa
          padding: 10px
          padding-bottom: 0
          .wrap-avatar
            float: left
            min-width: 10px
            width: 31px
            height: 31px
            border-radius: 50%
            overflow: hidden
            margin-top: 8px
          h2
            padding: 0
          p
            font-size: 14px
          .wrap-qa-desc
            margin-left: 40px
            padding-bottom: 10px
      ul.tabs
        margin: 0
        padding: 0
        // float: left
        list-style: none
        height: 32px
        border-bottom: 1px solid #f0f0f0
        border-top: 1px solid #cccccc
        width: 100%
        padding-top: 12px
        height: 44px

        min-width: 480px
        li
          float: left
          // display: inline-block
          margin: 0
          cursor: pointer
          padding: 0px 21px
          height: 31px
          line-height: 31px
          // border-top: 1px solid #333
          // border-left: 1px solid #333
          // border-bottom: 1px solid #333
          // background-color: #666
          color: #04bd9c
          overflow: hidden
          position: relative
          @media screen and (max-width: 480px)
            padding: 0 14px

      .tab_last
        // border-right: 1px solid #333

      ul.tabs li
        &:hover
          background-color: #ccc
          color: #333
        &.active
          // background-color: #fff
          color: #000
          border-bottom: 2px solid #000
          display: block


      .tab_container
        // border: 1px solid #333
        border-top: none
        clear: both
        // float: left
        // width: 100%
        overflow: auto

      .tab_content
        padding: 0 11px 11px 11px
        display: none

      .tab_drawer_heading
        display: none

      // @media screen and (max-width: 480px)
      //   .tabs
      //     display: none
      //   .tab_drawer_heading
      //     // background-color:
      //     // color: #fff
      //     // border-top: 1px solid #333
      //     margin: 0
      //     padding: 5px 20px
      //     display: block
      //     cursor: pointer
      //     -webkit-touch-callout: none
      //     -webkit-user-select: none
      //     -khtml-user-select: none
      //     -moz-user-select: none
      //     -ms-user-select: none
      //     user-select: none
      //   .d_active
          // background-color: #666
          // color: #fff
    .ask-you
      padding: 20px 35px
      font-size: 13px

      .wrap-ask-you
        .wrap-ask-pic
          float: left
          min-width: 10px
          width: 74px
          height: 74px
          border-radius: 50%
          overflow: hidden
          margin-top: 5px
        .btn-add-q
          padding-top: 6px
          float: none
          display: block
          margin: 7px 0
          @media screen and (max-width: 480px)
            width: 115px
        .wrap-ask-desc
          margin-left: 90px
