.hidden
  display: none

body
  font-family: "Ubuntu", sans-serif
  font-size: 17px
  line-height: 26px
  color: #6c6c6c
  background-color: #f0f0f0

  .question
    margin-bottom: 26px

    @extend %clear-fix

    .avatar
      margin-top: 10px
      margin-bottom: 20px
      float: left
      width: 64px
      height: 64px
      border-radius: 100%
      overflow: hidden

      @media screen and (max-width: 480px)
        margin: 0 auto 10px
        float: none

    .question-bubble
      overflow: hidden
      border: 1px solid #a7a7a7
      border-radius: 8px
      background: white
      margin-left: 18px + 64px

      @media screen and (max-width: 480px)
        margin-left: 0

      .question-info
        color: #bebebe
        padding: 10px 14px 8px 14px
        background: #f1f1f1

      .question-content
        padding: 16px 14px 0 14px

        @extend %clear-fix

        .ic-quote
          float: left
          fill: #04bd9c
          width: 22px
          height: 22px
          padding-top: 4px

        .quote-content
          padding-left: 30px
          padding-bottom: 8px

      .question-action
        margin: 9px 14px 18px 14px

        @media screen and (max-width: 480px)
          margin: 20px 14px 18px 14px

        ul
          font-size: 0
          color: #bebebe

          li
            position: relative
            display: inline-block
            font-size: 15px
            padding-right: 32px

            @media screen and (max-width: 480px)
              display: block

            .like
              background: url("../images/ic-like.png") 0 0 no-repeat
              background-size: 15px
              padding-left: 20px

            .flag
              background: url("../images/ic-flag.png") 0 0 no-repeat
              background-size: 11px 15px
              padding-left: 15px

            &:last-child::after
              content: ""

            &::after
              position: absolute
              font-size: 18px
              color: #6c6c6c
              content: "."
              top: -5px
              right: 14px

              @media screen and (max-width: 480px)
                content: ""
