.wrap-recent-questions
  .right-side
    h3
      background: #fff
      padding: 30px
      font-weight: 400
      color: #04bd9c
      @media screen and (max-width: 1200px)
        margin-top: 20px
    .experts
      margin: 0
      background: #fff
    .number
      span
        color: #000
    .link
      &:hover
        span
          color: rgb(4, 189, 156)
    .right-side-links
      background: #fff
    .tribe-members
      background: #fff
      margin: 0
      margin-top: 20px
      border: none
      padding: 20px 30px
      p
        border-top: 1px solid #000
        border-bottom: 1px solid #000
        padding: 15px 0

    .explore
      background: #fff
      padding: 0px 30px
    .wrap-expert
      padding-left: 30px
      @media screen and (max-width: 480px)
        padding-left: 10px

  .add-quettion
    background: #fff
    @media screen and (max-width: 480px)
      padding-bottom: 20px
    .search
      display: inline-block
      margin-left: 15px
      margin-top: 30px
      margin-bottom: 30px
      border: none

      &:focus
        border-bottom: 1px solid #6c6c6c
        min-width: 70%
        @media screen and (max-width: 480px)
          min-width: 100%
      @media screen and (max-width: 480px)
        min-width: 100%
        text-align: center
        margin-left: 0
    .btn-add-q
      padding: 6px
      @media screen and (max-width: 480px)
        float: none
        display: block
        margin: 0 auto


  .btn-add-q
    border-radius: 2px
    background-color: rgb(4, 189, 156)
    width: 159px
    height: 39px
    color: #fff
    float: right
    margin: 20px 30px 0 0
    &:hover
      color: rgb(4, 189, 156)
      background: #fff
      border: 1px solid rgb(4, 189, 156)
  .qvestion
    line-height: 1.2
    background: #fff
    font-size: 12px
    margin-top: 20px
    padding: 30px 15px

    .person
      float: left
      max-width: 100px

      @media screen and (max-width: 480px)
        max-width: 100%
        float: none
        text-align: center
        margin-bottom: 30px
      .wrap-img
        float: left
        // min-width: 10px
        width: 93px
        height: 93px
        border-radius: 50%
        overflow: hidden
        // margin-top: -7px
      strong
        line-height: 1.5
        font-size: 13px
        color: #43ceb5
        @media screen and (max-width: 480px)
          display: inline-block
          margin-top: 23px
      img
        // min-width: auto
        width: 90%
        @media screen and (max-width: 480px)
          float: left
          width: 93px
        // margin: 15px
      .colored
        color: #43ceb5
        // height: 93px
    .quesion-desk
      margin-left: 120px
      @media screen and (max-width: 480px)
        margin-left: 0
      h3
        font-weight: 400
        font-size: 16px
        margin-bottom: 10px

      p
        font-size: 15px
        line-height: 22px
  .category
    margin: 5px 0
    li
      display: inline-block
      border: 1px solid rgb(4, 189, 156)
      color: rgb(4, 189, 156)
      padding: 5px
      border-radius: 10px
      background: #fff
      line-height: 1.2
      font-size: 12px
    .active
      background-color: rgb(4, 189, 156)
      color: #fff


  .question-action
    margin-top: 15px
    @media screen and (max-width: 591px)
      column-count: 2

    .add-a-reply
      border: 1px solid rgb(4, 189, 156)
      font-size: 12px
      color: rgb(4, 189, 156)
      padding: 10px
      border-radius: 2px
      @media screen and (max-width: 591px)
        padding: 5px
      // width: 88px
      // height: 30px
      &:hover
        color: #fff
        background-color: rgb(4, 189, 156)
    ul
      font-size: 0
      color: #bebebe

      li
        position: relative
        display: inline-block
        font-size: 13px
        padding-right: 32px

        @media screen and (max-width: 591px)
          text-align: center
          display: block
          font-size: 12px
          padding-right: 5px
          height: 35px

        .like
          background: url("../images/ic-like.png") 0 0 no-repeat
          background-size: 15px
          padding-left: 20px

        .flag
          background: url("../images/ic-flag.png") 0 0 no-repeat
          background-size: 11px 15px
          padding-left: 15px
          color: #8e8e8e
        // &:last-child::after
        //   content: ""
        //
        // &::after
        //   position: absolute
        //   font-size: 18px
        //   color: #6c6c6c
        //   content: "."
        //   top: -5px
        //   right: 14px
          //
          // @media screen and (max-width: 480px)
          //   content: ""
// .popup
//
//   h1
//     text-align: center
//     font-family: Tahoma, Arial, sans-serif
//     color: #06D85F
//     margin: 80px 0
//
//   .box
//     width: 40%
//     margin: 0 auto
//     background: rgba(255, 255, 255, 0.2)
//     padding: 35px
//     border: 2px solid #fff
//     border-radius: 20px/50px
//     background-clip: padding-box
//     text-align: center
//
//   .button
//     font-size: 1em
//     padding: 10px
//     color: #fff
//     border: 2px solid #06D85F
//     border-radius: 20px/50px
//     text-decoration: none
//     cursor: pointer
//     transition: all 0.3s ease-out
//     &:hover
//       background: #06D85F
//
//   .overlay
//     position: fixed
//     top: 0
//     bottom: 0
//     left: 0
//     right: 0
//     background: rgba(0, 0, 0, 0.7)
//     transition: opacity 500ms
//     visibility: hidden
//     opacity: 0
//     &:target
//       visibility: visible
//       opacity: 1
//
//   .popup
//     margin: 70px auto
//     padding: 20px
//     background: #fff
//     border-radius: 5px
//     width: 30%
//     position: relative
//     transition: all 5s ease-in-out
//     h2
//       margin-top: 0
//       color: #333
//       font-family: Tahoma, Arial, sans-serif
//     .close
//       position: absolute
//       top: 20px
//       right: 30px
//       transition: all 200ms
//       font-size: 30px
//       font-weight: bold
//       text-decoration: none
//       color: #333
//       &:hover
//         color: #06D85F
//     .content
//       max-height: 30%
//       overflow: auto
//
//   @media screen and (max-width: 700px)
//     .box, .popup
//       width: 70%
