<!-- layout.nunjucks -->
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/base.css">
    <!--[if lte IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge"/><![endif]-->
    {# <meta name="theme-color" content="HEX_COLOR"> <meta name="msapplication-navbutton-color" content="HEX_COLOR"> <meta name="apple-mobile-web-app-capable" content="yes"> <meta name="apple-mobile-web-app-status-bar-style" content="HEX_COLOR"> <link
    rel="shortcut icon" href="favicon.ico"/> <meta name="keywords" content=""/> <meta name="description" content=""/> <meta name="author" content=""> <meta name="robots" content="index,follow"> <meta name="copyright" content=""> #}
  </head>

  <body>

    <!-- You write code for this content block in another file -->
    {% block content %}{% endblock %}
    {# <script src="js/main.js"></script> #}
    <script src="js/jquery-2.2.0.min.js"></script>
    <script src="js/slick.js"></script>
    <script type="text/javascript">
      $(document).on('ready', function () {
        $(".center").slick({
          dots: true,
          infinite: true,
          centerMode: false,
          slidesToShow: 3,
          slidesToScroll: 1,
          responsive: [
            {
              breakpoint: 768,
              settings: {

                slidesToShow: 2
              }
            }, {
              breakpoint: 480,
              settings: {

                slidesToShow: 1
              }
            }
          ]
        });
      });
    </script>
    <script src="js/readmore.min.js"></script>
    <script src="js/tab.js"></script>
    {# <script src="js/jquery.easy-autocomplete.min.js"></script> #}

    <script src="js/awesomplete.min.js"></script>
    <script src="js/my.js"></script>
    <script src="js/uploadimg.js"></script>
    <script type="text/javascript">
      $('.article').readmore({speed: 75, lessLink: '<a href="#">Read less</a>', collapsedHeight: 88});
    </script>
    <script type="text/javascript">
      (function () {
        var path = '//easy.myfonts.net/v2/js?sid=148510(font-family=Proxima+Nova+Regular)&sid=148547(font-family=Proxima+Nova+SemiBold)&sid=148550(font-family=Proxima+Nova+Light)&sid=270169(font-family=Proxima+Nova+Medium)&key=E20akwST62',
          protocol = ('https:' == document.location.protocol
            ? 'https:'
            : 'http:'),
          trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = protocol + path;
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
      })();
    </script>
    
  </body>

</html>
