.popup-third
  font-size: 15px
  font-weight: bold
  color: #262626

  h2
    font-size: 19px
    border-bottom: 1px solid #262626
  .box
    width: 40%
    margin: 0 auto
    background: rgba(255, 255, 255, 0.2)
    padding: 35px
    border: 2px solid #fff
    border-radius: 20px/50px
    background-clip: padding-box
    // text-align: left

  .button
    font-size: 1em
    padding: 10px
    color: #fff
    border: 2px solid #06D85F
    border-radius: 20px/50px
    text-decoration: none
    cursor: pointer
    transition: all 0.3s ease-out
    &:hover
      background: #06D85F

  .overlay
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: rgba(0, 0, 0, 0.7)
    transition: opacity 500ms
    // visibility: hidden
    display: none
    opacity: 0
    // min-height: 270%
    &:target
      visibility: visible
      display: block
      opacity: 1

    .popup
      // text-align: center
      max-width: 750px
      margin: 70px auto
      padding: 90px 50px 40px 50px
      background: #fff
      border-radius: 5px
      width: 80%
      position: relative
      transition: all 5s ease-in-out
      @media screen and (max-width: 504px)
        padding: 40px 10px
        width: 90%
        margin: 20px auto
    .close
      position: absolute
      top: 20px
      right: 30px
      transition: all 200ms
      font-size: 30px
      font-weight: bold
      text-decoration: none
      color: #333
      &:hover
        color: #06D85F
  @media screen and (max-width: 700px)
    .box, .popup
      width: 70%
  form
    label
      display: block
    input
      border: 1px solid #464646
      border-radius: 5px
    input[type=text]
      padding-left: 10px
      background-color: #ebebeb
      width: 100%
      @media screen and (max-width: 768px)
        font-size: 10px
        line-height: 2
    textarea
      background-color: #ebebeb
      border-radius: 5px
      width: 100%
      resize: none
      padding-left: 10px
      @media screen and (max-width: 768px)
        font-size: 10px
        height: 40px
        line-height: 1.2
    input[type=submit]
      font-size: 20px
      margin: 10px auto
      margin-top: 40px
      display: block
      padding: 8px 22px
      color: #fff
      background-color: #04bd9c
      border-color: #04bd9c
      // border-radius: 30px
      @media screen and (max-width: 768px)
        padding: 6px
        width: 150px
      @media screen and (max-width: 576px)
        margin-top: 10px
      &:hover
        background-color: #fff
        color: #04bd9c
    .awesomplete
      margin-top: 40px
      @media screen and (max-width: 576px)
        margin-top: 10px
      ul
        li
          &:hover
            &::after
              background: #fff
              color: #04bd9c
          &::after
            color: #fff
            font-weight: 400
            text-align: center
            float: right
            content: "Been Here"
            width: 80px
            height: 90%
            background: #04bd9c
            border-radius: 5px
  .img-wrapper
    display: inline-block

  .preview

    display: inline-block
    width: 150px
    height: 80px
    // margin: 20px auto
    // border: 2px solid rgb(33, 122, 105)
    border-radius: 2px
    overflow: hidden
    background-image: url("./../images/upload-img.png")
    background-size: 60%
    background-position: center center
    background-repeat: no-repeat
    background-color: rgba(242, 242, 242, 0.9)
    // @media screen and (max-width: 576px)
    //   width: 60%
    //   display: block
    //   margin: 0 auto

  .file-upload-wrapper
    position: relative
    z-index: 5
    display: inline-block
    width: 150px
    height: 30px
    margin: 5px auto
    vertical-align: top
    margin-top: 23px

    .file-upload-native
      z-index: 15
      opacity: 0
      border: none

    .file-upload-text
      &::placeholder
        color: #04bd9c
      &:focus
        outline: none
      z-index: 10
      padding: 5px 15px 8px
      overflow: hidden
      font-size: 14px
      line-height: 1.4
      cursor: pointer
      text-align: center
      border: none
      background: none
  .file-upload-native, .file-upload-text

    position: absolute
    top: 0
    left: 0
    display: block
    width: 100%
    height: 100%
    cursor: pointer

  input[type="file"]::-webkit-file-upload-button
    cursor: pointer

  .file-upload-native:focus
    outline: none
