.wishlist-second
  .create
    color: #fff
    display: block
    margin-right: 0px
    margin-left: auto
    width: 176px
    margin-top: 10px
    background: #04bd9c
    padding: 5px
    border: 1px solid #04bd9c
    &:hover
      background: #fff
      color: #04bd9c
  .gallery
    margin-top: 30px
    position: relative
    padding-top: 70%
    img
      left: 0
      top: 0
      min-width: auto
      width: 100%
      position: absolute
      z-index: -1
    .desc
      padding: 8px 12px
      text-align: left
      margin-top: 40px
      background-color: rgb(255, 255, 255)
      opacity: 0.8
      .first-desc
        font-weight: bold
        font-size: 11px
        color: #000000
      .second-desc
      .third-desc
        font-weight: bold
        color: #04bd9c
      p
        font-size: 13px
        line-height: normal
  footer
    margin-top: 30px
    border-top: 1px solid #cdcdcd
    padding-top: 20px
    .footer-links
    .social
      a
        margin-left: 20px
        position: relative
        &::before
          left: -19px
          bottom: -1px
          position: absolute
          display: inline-block
          content: ""
          width: 14px
          height: 16px
          background-image: url("./../images/sprite.png")
          background-position: 0px 0px
      .twitter
        &::before
          background-position: 0px 91px
      .google
        &::before
          background-position: 0px 66px
      .pinterest
        &::before
          background-position: 0px 42px
      .instagram
        &::before
          background-position: 0px 16px
    .wrap-footer-form

      .wrap-email
        border-radius: 10px
        h3
          font-size: 20px
        form
          margin: 20px
          margin-bottom: 30px
          input
            padding-left: 10px
            line-height: 44px
            width: 94%
  .help
    position: absolute
    bottom: 130px
    right: 0
    border: 1px solid rgb(205, 205, 205)
    border-radius: 3px
    background-color: rgb(192, 192, 192)
    box-shadow: 1px 1.732px 6px 0px rgba(0, 0, 0, 0.4)

    padding: 5px 30px

    a
      color: #fff
      font-size: 20px
    &::before
      position: absolute
      content: ""
      width: 11px
      height: 12px
      background-image: url("./../images/help.png")
      left: 10px
      bottom: 12px
    @media screen and (max-width: 1200px)
      bottom: 0
      position: relative
      display: block
