.wishlist
  position: relative
  .locayion-img
    position: relative
    &::before
      content: ""
      background: url(../images/location-grey.png) no-repeat
      width: 12px
      height: 16px
      position: absolute

  header
    font-family: 'Proxima Nova Regular'
    background-color: #060c1d
    line-height: 34px
    @media screen and (max-width: 1200px)
      text-align: center
    ul
      display: inline-block
      margin: 39px 0 25px 72px
      @media screen and (max-width: 1200px)
        margin: 39px 0 25px 0
      @media screen and (max-width: 376px)
        margin-bottom: 0
      li
        margin-left: 4px
        display: inline-block
        a
          color: #fff
          font-weight: 300
          font-size: 19px
          border: 1px solid #060c1d
          border-radius: 17px
          padding: 8px 21px
          &:hover
            border-color: #fff
            border-radius: 17px
            padding: 8px 21px
            @media screen and (max-width: 768px)
              padding: 3px 6px
          @media screen and (max-width: 768px)
            font-size: 16px
            padding: 3px 6px
    .login
      margin: -4px 0px 0px 59px
      display: inline-block
      color: #fff
      font-size: 19px
      // line-height: 34px
      border: 1px solid #fff
      border-radius: 17px
      padding: 0px 21px
      @media screen and (max-width: 768px)
        margin: 0
        font-size: 16px
        padding: 0 6px
        line-height: 1.4
      @media screen and (max-width: 376px)
        margin-bottom: 25px
      &:hover
        background-color: #fff
        color: #000
  .wrap-menu
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.18)
    .menu
      margin-top: 11px
      margin-bottom: 14px
      text-align: center
      @media screen and (max-width: 700px)
        column-count: 2
      li
        display: inline-block
        font-size: 13px
        line-height: 18px
        text-transform: uppercase
        margin: 0 35px
        @media screen and (max-width: 700px)
          margin: 0
          display: block
        a
          color: #c1c1c1
        .selected
          position: relative
          color: #04bd9c
          &::before
            display: block
            position: absolute
            content: ""
            width: 140%
            height: 3px
            color: red
            bottom: -19px
            left: -12px
            border-bottom: 3px solid #04bd9c
            @media screen and (max-width: 700px)
              bottom: -3px
  .wrap-profile-wishlist
    margin-top: 85px
    .profile
      color: #838383
      background-color: #fff
      padding-top: 16px
      padding-bottom: 44px
      @media screen and (max-width: 768px)
        margin-bottom: 30px
      .name
        margin-left: 43%
        strong
          font-size: 20px
          font-weight: bold
          color: #262626
        p
          // position: relative
          margin-left: 19px
          font-size: 13px
          color: #838383
          &::before
            left: -18px
            bottom: 4px
        .wrap-rofile-img
          left: 40px
          top: -42px
          position: absolute
          width: 129px
          border-radius: 50%
          overflow: hidden
          @media screen and (max-width: 1200px)
            width: 90px
            top: -24px
          img
            @media screen and (max-width: 1200px)
              width: 100%
      .activity
        margin-left: 25px
        margin-bottom: 20px
        // margin-left: 5px
        margin-top: 41px
        width: 50%
        @media screen and (max-width: 868px)
          width: 84%
          display: block
          margin: 41px auto 20px
        p
          line-height: 20px
          font-size: 12px
        strong
          display: block
          font-size: 14px
        .number
          color: #262626
          float: right
          font-size: 14px
          font-weight: bold
      .category
        margin-left: 25px
        // text-align: center
        li
          line-height: 23px
          font-size: 12px
          display: inline-block
          padding: 0 12px
          border: 1px solid #04bd9c
          border-radius: 10px
          color: #04bd9c

      .edit-passport
        margin: 0 auto
        // min-width: 20px
        text-align: center
        width: 130px
        padding: 11px 22px
        display: block
        font-size: 13px
        color: rgb(255, 255, 255)
        font-weight: bold
        line-height: 1.2
        border-radius: 2px
        background-color: rgb(4, 189, 156)
        margin-top: 43px
    .places
      background: #fff
      .count-places
        color: #262626
        width: 100%
        strong
          display: inline-block
          font-size: 20px
          font-weight: 400
          margin: 13px 15px
          @media screen and (max-width: 1200px)
            margin-right: 0px
          @media screen and (max-width: 480px)
            margin-right: 0px
            font-size: 16px
        p
          margin: 13px 15px
          float: right
          text-transform: uppercase
          font-size: 13px
          @media screen and (max-width: 1200px)
            margin-left: 0px
          @media screen and (max-width: 480px)
            font-size: 10px
          span
            font-size: 24px
            vertical-align: bottom
            margin-left: 5px
            @media screen and (max-width: 480px)
              font-size: 16px
              vertical-align: baseline
      .map
        line-height: 0
  .wrap-tours
    margin-top: 60px
    .tour
      margin-bottom: 25px
      padding: 15px
      background-color: #fff
      font-size: 13px
      .link-tour
        color: #000
        &:hover
          color: #43ceb5
      h3
        font-size: 20px
        line-height: 24px
        font-weight: 400
      .info
        margin-left: 15px
        ul
          display: inline-block
          li
            margin-right: 28px
            display: inline-block
            position: relative
            @media screen and (max-width: 480px)
              margin-right: 20px
            &::before
              bottom: 4px
              left: -14px
              position: absolute
              content: "."
              color: #04bd9c
        .locayion-img
          &::before
            content: ""
            background: url(../images/location.png) no-repeat
            width: 10px
            left: -14px
            bottom: 1px
        .rate-stars
          display: inline-block
          position: relative
          background: url(../images/star2.png) repeat-x
          background-size: 11px
          height: 11px
          width: 55px
          // margin: 0 10px
          div
            position: absolute
            background: url(../images/star.png) repeat-x
            background-size: 11px
            height: 11px
            top: 0
            left: 0
      .wrap-gallery
        img
          height: auto
        .wrap-gal-1
          display: inline-block
          width: 65%
          overflow: hidden
        .wrap-gal-both
          overflow: hidden
          vertical-align: top
          width: 32%
          display: inline-block
          .wrap-gal-2
            margin-bottom: 3px
          .wrap-gal-3
      .date
        margin-left: 22px
        position: relative
        &::before
          position: absolute
          content: ""
          background: url(../images/date.png) no-repeat
          width: 12px
          height: 13px
          left: -22px
          bottom: 6px
  footer
    margin-top: 30px
    border-top: 1px solid #cdcdcd
    padding-top: 20px
    .footer-links
    .social
      a
        margin-left: 20px
        position: relative
        &::before
          left: -19px
          bottom: -1px
          position: absolute
          display: inline-block
          content: ""
          width: 14px
          height: 16px
          background-image: url("./../images/sprite.png")
          background-position: 0px 0px
      .twitter
        &::before
          background-position: 0px 91px
      .google
        &::before
          background-position: 0px 66px
      .pinterest
        &::before
          background-position: 0px 42px
      .instagram
        &::before
          background-position: 0px 16px
    .wrap-footer-form

      .wrap-email
        border-radius: 10px
        h3
          font-size: 20px
        form
          margin: 20px
          margin-bottom: 30px
          input
            padding-left: 10px
            line-height: 44px
            width: 94%
  .help
    position: absolute
    bottom: 130px
    right: 0
    border: 1px solid rgb(205, 205, 205)
    border-radius: 3px
    background-color: rgb(192, 192, 192)
    box-shadow: 1px 1.732px 6px 0px rgba(0, 0, 0, 0.4)

    padding: 5px 30px

    a
      color: #fff
      font-size: 20px
    &::before
      position: absolute
      content: ""
      width: 11px
      height: 12px
      background-image: url("./../images/help.png")
      left: 10px
      bottom: 12px
    @media screen and (max-width: 1200px)
      bottom: 0
      position: relative
      display: block
